$c-white: #fff;
$c-white-50: rgba($c-white, 0.5);
$c-white-40: rgba($c-white, 0.4);
$c-white-30: rgba($c-white, 0.3);
$c-white-20: rgba($c-white, 0.2);
$c-white-10: rgba($c-white, 0.1);

$c-greyscale-1000: #101828;
$c-greyscale-900: #1e2635;
$c-greyscale-800: #383f4c;
$c-greyscale-700: #525864;
$c-greyscale-600: #6d727b;
$c-greyscale-500: #868a92;
$c-greyscale-400: #a1a4aa;
$c-greyscale-300: #bdbfc3;
$c-greyscale-200: #d8d9dc;
$c-greyscale-100: #e8e9eb;
$c-greyscale-50: #f8f9f9;
$c-greyscale-bg: #f3f5f6;

$c-orange: #ed5a08;
$c-orange-hover: #e35608;
$c-green: #02a862;
$c-red: #ff4848;
$c-yellow: #ffba09;
$c-purple: #6941c6;
$c-blue: #468df8;
$c-green-10: #e6f7f0;
$c-orange-10: #feefe7;
$c-red-10: #ff4848;
$c-green-dark: #058e13;

$radius-xl: 16px;
$radius-l: 12px;
$radius-m: 10px;
